*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 

.box {
    width: 100%;
    height: 800px;
}



.navbar {
    background-color: black;
    
}

.jumbotron {
    background-image: url(/img/andrea-donato-MNu0n-3BIKs-unsplash-lg.jpg);
    height: 400px;
    background-size: cover;
    background-position-y: center;
    margin: 0;
    
}

#jumbotron-title {
    font-family: 'Fleur De Leah', cursive;
    font-size: 6vw;
    color: whitesmoke;
    text-shadow: 5px 2px black;
    text-align: center;
    padding-top: 5%;
}

.section-1 {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh;
    background-image: url(/img/andrea-donato-MNu0n-3BIKs-unsplash.jpg);
    background-attachment: fixed;
}

#titleContainer {
    min-height: 100vh;
}


.section-3 {
    background-image: url(/img/allef-vinicius-IvQeAVeJULw-unsplash.jpg);
    background-attachment: fixed;
}

.section {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh;
    background-color: black;
}

.footer {
    max-width: 100%;
    height: 25vh;
    background-color: black;
}
.footerLink {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    color: whitesmoke;
    
}

a:hover, a:active, a:link, a:visited {
    color:whitesmoke;
  }

  .btn-social-icon {
      color: whitesmoke;
  }

.section-5 {
    background-image: url(/img/chris-knight-_H1XXY96pqw-unsplash.jpg); 
    background-attachment: fixed;
}

@media (max-width: 2500px) {
    .section-5 {
        background-image: url(/img/chris-knight-_H1XXY96pqw-unsplash-lg.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 800px) {
    .section-5 {
        background-image: url(/img/chris-knight-_H1XXY96pqw-unsplash-md.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 500px) {
    .section-5 {
        background-image: url(/img/chris-knight-_H1XXY96pqw-unsplash-sm.jpg);
        background-size: cover;
        background-position: center;
    }
}

 .main-title {
    font-family: 'Fleur De Leah', cursive;
    font-size: 36px;
    color: whitesmoke;
    text-shadow: 5px 2px black;
} 

@media (min-width: 500px) {
    .main-title {
        font-size: 8vw;
    }
}

.nav-title {
    font-family: 'Fleur De Leah', cursive;
    color: white;
    font-size: 200%;
}


.navbar-nav {
    padding-top: 10px;
}

.titles {
    color: whitesmoke;
    text-shadow: 5px 1px black;
    font-family: 'Fleur De Leah', cursive;
    font-size: 36px;

}

@media (min-width: 500px) {
    .titles {
        font-size: 100px;

    }
}

.section div {
    min-height: 100vh;
}

.thirdTitle {
    font-family: 'Fleur De Leah', cursive;
    color: whitesmoke;
    text-shadow: 5px 1px black;
}

